<div class="cocktail-container">
  <div class="cocktail-info">
    <%= cl_image_tag @cocktail.photo.key%>
    <div class="details">
      <div id="cocktail-title">
        <%= @cocktail.name %> <%= link_to cocktail_path(@cocktail), data: {:confirm => 'Are you sure?'}, :method => :delete do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <% @doses.each do |dose| %>
        <%= dose.description %> of <%= dose.ingredient.name %>
        <%= link_to destroy_dose_path(dose), data: {:confirm => 'Are you sure?'}, :method => :delete do %>
          <i class="fas fa-trash-alt"></i>
        <% end %><hr>
      <% end %>
    </div>


  </div>
  <div class="new-ingredient">
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient, input_html: { class: 'select2' } %>
      <%= f.button :submit, id: 'ingredient-submit' %>
    <% end %>
  </div>
</div>







